# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Dependencies
/node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# Angular cache
/.angular/cache

# IDEs and editors
.idea/
.vscode/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/

# Coverage
/coverage

# System files
.DS_Store
Thumbs.db

# Logs
*.log
