body {
  margin: 0;
}

h1 {
  margin-bottom: 20px;
}

button {
  cursor: pointer;
  padding: 6px 12px;
}

input {
  width: 250px;
  padding: 6px;
  margin-bottom: 8px;
}

table {
  border-collapse: collapse;
  margin-top: 15px;
  width: 600px;
}
body {
  margin: 0;
}

h1 {
  margin-bottom: 20px;
}

button {
  cursor: pointer;
  padding: 6px 12px;
}

input {
  width: 250px;
  padding: 6px;
  margin-bottom: 8px;
}

table {
  border-collapse: collapse;
  margin-top: 15px;
  width: 600px;
}
